.hero-section{
    background-image: url(../../assets/products-bg-img3.jpg);
    background-size: cover;
    background-position: 0 -50px ;
    background-repeat: no-repeat;
    /* background: linear-gradient(130deg, #ECF3FE 70%, #115FFC 70%); */
    padding: 100px 50px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    height: 480px;
    position: relative;
    /* border-radius: 10px; */
}
.hero-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg,  rgba(0, 0, 0, 0.65) 40%,  rgba(0, 0, 0, 0.3) 70%);
    
    /* border-radius: 10px; */
}
.hero-section .hero-text{
    flex-basis: 60%;
    z-index: 100;
}

.hero-section .hero-text h2{
    display: block;
    width: 80%;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    /* color: #253656; */
    color: white;
}
.gold{
    /* color: #FCE663;; */
    color: #115FFC;
}
.hero-section .hero-text p{
    margin-top: 20px;
    width: 90%;
    font-weight: 400;
    opacity: 0.8;
    color: white;
}
.hero-text button{
    background-color: #115FFC;
    color: white;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.sliding-text{
    width: 100%;
    background-color: #AAA;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    overflow: hidden;
}
.sliding-text p{
    animation: slide-left 30s linear infinite;
    color: #222;
    width: 600px;
    text-wrap: nowrap;
}
@keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
       margin-left: -600px;
    }
  }

@media screen and (max-width: 1170px){
    .hero-section{
        background-size: 1170px auto;
    }
}
@media screen and (max-width: 1100px){
    .hero-section .hero-text{
        flex-basis: 70%;
    }
}
@media screen and (max-width: 950px){
    .hero-section .hero-text{
        flex-basis: 80%;
    }
    .hero-section::before{
        background: linear-gradient(90deg,  rgba(0, 0, 0, 0.65) 40%,  rgba(0, 0, 0, 0.6) 70%);
    }
}
@media screen and (max-width: 850px){
    .hero-section{
        background-size: auto 550px;
    }
    .hero-section .hero-text{
        flex-basis: 90%;
    }

}
@media screen and (max-width: 755px){
    .hero-section .hero-text{
        flex-basis: 100%;
    }
    
}
@media screen and (max-width: 700px){
    .hero-section .hero-text h2{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .hero-section .hero-text h2{
        font-size: 42px;
    }
}
@media screen and (max-width: 500px){
    .hero-section{
        padding: 100px 10px 70px;
    }
    
}
@media screen and (max-width: 450px){
    .hero-section .hero-text h2{
        font-size: 32px;
    }
    .hero-section .hero-text p{
        font-size: 14px;
    }
}