.hero-section{
    /* background-image: url(../../assets/hero-bg2.jpeg); */
    background-size: cover;
    background-position: 0 -50px ;
    background-repeat: no-repeat;
    background: linear-gradient(130deg, #ECF3FE 70%, #115FFC 70%);
    padding: 100px 50px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 490px;
    position: relative;
}
/* .hero-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg,  rgba(0, 0, 0, 0.8) 40%,  rgba(0, 0, 0, 0.15) 90%);

} */
.hero-section .hero-text{
    flex-basis: 60%;
    z-index: 1000;
}
p.hanging-text{
    position: relative;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 5px 20px;
}
.hanging-text::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #115FFC;
    border-radius: 10px;
}
.hero-section .hero-text h2{
    display: block;
    width: 80%;
    font-size: 47px;
    font-weight: 600;
    line-height: 1.2;
    /* color: #253656; */
    color: #354666;
}
.gold{
    /* color: #FCE663;; */
    color: #115FFC;
}
.hero-section .hero-text p{
    margin-top: 20px;
    width: 90%;
    font-weight: 400;
    opacity: 0.8;
    color: #354666;
}
.hero-text button{
    background-color: #115FFC;
    color: white;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.hero-section img{
    width: 550px;
    position: absolute;
    bottom: 0px;
    right: 0px; 
    /* background-color: #354666; */
    /* border-radius: 30px 0 30px 30px; */
    /* border: 1px solid #115FFC; */
}