.content-page{
    padding: 80px 0 0px;
}
.cart-page{
    width: 100%;
    background-color: #F3F3F3;
    min-height: calc(100vh - 80px);
    padding: 30px 50px;
}
.head-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.head-container .left h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #253656;
}
.head-container .left p{
    font-size: 15px;
}
span.bold-blue{
    font-weight: 600;
    color: #115ffc;
}
.head-container button{
    background-color: #115ffc;
    color: white;
    padding: 6px 15px;
    font-size: 14.5px;
    border-radius: 5px;
}
.lower-content{
    display: grid;
    grid-template-columns: 67% auto;
    gap: 50px;
}
.product-container{
    width: 100%;
    min-width: 700px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.15);
}
.product-container-head{
    display: grid;
    grid-template-columns: 47.5% 12.5% 25% 15%;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid #F2F2F2;
    padding-bottom: 25px;
}
.product-container-head > p {
    text-align: center;
}
.product-container-head > p:first-child {
    text-align: left;
}
.total-amount{
    width: 15%;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #354666;
    float: right;
}
.checkout-container{
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.15);
    padding: 20px;
}
.checkout-container h3{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}
.checkout-container select{
    width: 100%;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1.5px solid #F3F3F3;
    background-color: #F3F3F3;
    appearance: none;
    outline: none;
}
.checkout-container select:focus{
    border: 1.5px solid #115FFC;
}
.checkout-container button{
    width: 100%;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #115ffc;
    color: white;
    font-size: 15px;
}
.delivery-fee{
    color: #333;
    margin: 15px 0;
    font-size: 13px;
    font-weight: 500;
}

@media screen and (max-width: 1100px) {
    .lower-content{
        grid-template-columns: auto;
    }
    .checkout-container{
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .product-container-head{
        font-size: 14px;
        font-weight: 500;
    }
    .product-container{
        min-width: 0px;
    }
}

@media screen and (max-width: 660px) {
    .cart-page{
        padding: 30px;
    }
    .product-container{
        padding: 20px 15px;
    }
}

@media screen and (max-width: 600px) {

    .product-container{
        min-width: 540px;
        box-shadow: none;
    }
    .product-overflow-container{
        overflow-x: auto;
    }
}

@media screen and (max-width: 500px) {
    .content-page{
        padding: 65px 0 0;
    }
    .cart-page{
        padding: 20px 10px;
    }
    .head-container .left h3{
        font-size: 20px;
    }
    .head-container .left p{
        font-size: 13px;
    }
    .head-container button{
        font-size: 14px;
    }
    .checkout-container h3{
        font-size: 16px;
    }
    .checkout-container select{
        font-size: 13px;
    }
    .checkout-container button{
        font-size: 14px;
    }
}
@media screen and (max-width: 460px) {
    .checkout-container{
        width: 100%;
    }
}