.order-page{
    width: 100%;
    padding: 30px;
}
.order-tab{
    display: flex;
    margin: 20px 0 40px;
    width: 100%;
    gap: 30px;
    border-bottom: 1px solid #AEAEB2;
}

.order-tab p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: #444;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer;
}
.order-tab-icon{
    margin-right: 5px;
}
.order-tab p.active-order-tab{
    color: #115FFC;
    /* font-weight: 500; */
}
.order-tab p.active-order-tab:before{
    position: absolute;
    content: '';
    bottom: -0.5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #115FFC;
    border-radius: 5px;
}
.main-text{
    color: #1A1A1A;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 15px;
}
.order-table-container{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px 30px;
}
.order-status{
    margin-bottom: 5px;
    color: #6e6e6e;
    font-size: 13.5px;
    padding: 5px 8px;
    margin-top: 5px;
    font-weight: 500;
    border: 1.5px solid #cac9d9;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    gap: 5px;
}
.pending{
    color: #F77C27;
}
.processing{
    color: #115FFC;
}
.delivered{
    color: #21A168;
}


.order-filter-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px;
    height: 35px;
    /* background-color: red; */
}
.left{
    display: flex;
    gap: 20px;
}
.filter-input-field{
    width: 400px;
    position: relative;
    height: 35px;
}
.filter-input-field input{
    border: 1px solid #cac9d9;
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    padding-right: 80px;
    font-size: 13.5px;
    outline: none;
}
.filter-input-field button{
    position: absolute;
    right: 2.5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #115FFC;
    color: white;
    font-size: 13.5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}
.filter-select-field{
    color: #1a1a1a;
    border: 1.5px dotted #8a8a8a;
    border-radius: 20px;
    padding: 4.5px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
}
.total-order-number{
    font-size: 13px;
    color: #8a8a8a;
}
.order-table-head{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 15px;
    padding: 15px 0;
}
.table-head-data{
    /* flex-basis: 20%; */
    color: #8F9395;
    font-size: 14px;
}
.refresh-icon{
    background-color: #F1F5FF;
    color: #115FFC;
    font-size: 26px;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
}


.order-row{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    border-bottom: 1px solid #eae9f9;
    padding-bottom: 15px;
}
.order-row-data{
    /* flex-basis: 20%; */
    font-size: 15px;
    color: #2F3944;
}
#order-id-cell{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
}
#customer-cell{
    width: 25%;
}
#payment-status-cell{
    width: 20%;
}
#amount-cell{
    width: 20%;
}
#date-cell{
    width: 10%;
}
#view-cell{
    width: 5%;
    font-size: 13px;
    color: #115FFC;
    opacity: 0.7;
    cursor: pointer;
}
.modal-content{
    right: 10px;
}
.modal-header{
    border-bottom: 1px solid #8F9395;
    margin-bottom: 10px;
}
.modal-close-button{
    color: #115FFC;
    border: 1.5px solid #E6E6E6;
    border-radius: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-tab-container{
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    width: 100%;
    border: 1.5px solid #E6E6E6;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 25px;
    font-size: 14px;
    cursor: pointer;
}
.modal-tab-container p{
    width: calc((100% - 20px)/3);
    padding: 12px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
}
.active-modal-tab{
    color: #115FFC;
    background-color: #F1F5FF;
    border: 1.5px solid rgba(17, 95, 252, 0.2);
}
.order-info-tab-section{
    margin-bottom: 10px;
    border-bottom: 1.5px solid #F2F5F7;
}
.order-info-tab-heading{
    color: #03071A;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}
.order-info-tab-label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* font-weight: 500; */
    font-size: 14px;
}
.order-info-tab-label span:first-child{
    color: #3F4860;
}
.order-info-tab-label span:last-child{
    font-weight: 400;
    color: #101014;
}
.payment-receipt-image{
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
.validate-payment-container{
    margin: 20px 0 10px;
}
.validate-payment-text{
    font-size: 15px;
    margin-bottom: 10px;
}
.validate-payment-container button{
    padding: 7px 0;
    width: 100px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #FE5D5F;
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: .2s ease;
}
.validate-payment-container button:hover{
    transform: scale(0.95);
}
button.verify{
    background-color: #21A168;
}
.product-image{
    width: 100%;
    border-radius: 5px;
}
@media screen and (max-width: 870px){
    #order-id-cell{
        width: 25%;
    }
    #customer-cell{
        display: none;
    }
    #payment-status-cell{
        text-align: center;
        width: 25%;
    }
    #amount-cell{
        text-align: center;
        width: 30%;
    }
    #date-cell{
        text-align: center;
        width: 10%;
    }
    #view-cell{
        width: 10%;
        text-align: center;
    }
}
@media screen and (max-width: 730px){
    .overflow-container{
        width: 100%;
        overflow-y: auto;
    }
    .order-table-container{
        width: 670px;
        border-radius: 5px;
    }
}
@media screen and (max-width: 600px){
    .order-tab-icon{
        display: none;
    }
    .order-tab{
        justify-content: space-between;
    }
}
@media screen and (max-width: 500px){
    .order-page{
        padding: 15px 10px;
    }
    .order-tab p{
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 500;
    }
    .order-tab{
        justify-content: left;
        margin: 10px 0 20px;
        gap: 25px;
    }
    .modal-content{
        right: 0;
    }
    .order-text{
        display: none;
    }
}