.product-form{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.product-form-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-form-head-text{
    font-size: 18px;
    color: #1a1a1a;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}
.back{
    cursor: pointer;
    color: #115FFC;
    padding: 2px;
    transition: .2s ;
}
.back:hover{
    background-color: #EEEEEE;
}
.product-form-head button{
    color: white;
    background-color: #115FFC;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    display: none;
}
button#desktop-add-btn{
    display: flex;
}
.product-form-body{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-form-body-left{
    width: 60%;
}
.product-form-body-right{
    width: 37%;
}
.form-group{
    border: 1.5px solid rgba(234, 233, 249, 0.4);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: #F9F9F9;
    width: 100%;
}

.form-group-text{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-field-box{
    width: 100%;
    margin-bottom: 15px;
}
.form-field-box label{
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}
.form-field-box span{
    font-size: 14px;
    margin-left: 5px;
}
.form-field-box input[type="text"], .form-field-box input[type="number"], .form-field-box textarea, .form-field-box select{
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    width: 100%;
    font-size: 14px;
    padding: 9px 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    appearance: none;
}
.form-field-box input[type="text"]:focus, .form-field-box input[type="number"]:focus, .form-field-box textarea:focus, .form-field-box select:focus{
    border: 1.5px solid rgba(17, 95, 252, 0.5);
}
.form-field-box input[type="text"]::placeholder, .form-field-box input[type="number"]::placeholder, .form-field-box textarea::placeholder{
    color: #555;
}
.add-feature-input-box{
    position: relative;
}
.add-feature-input-box button{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #115FFC;
    color: white;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
}
#add-feature-input{
    padding-right: 60px;
}
.features-list{
    margin-top: 10px;
}

.features-list li{
    font-size: 14px;
    margin-bottom: 5px;
    position: relative;
    width: fit-content;
    max-width: calc(100% - 45px);
    /* background-color: red; */
}
.features-list li .remove{
    position: absolute;
    right: -45px;
    top: 55%;
    transform: translateY(-50%);
    color: red;
    cursor: pointer;
}
.active-product-image{
    border: 1.5px dashed rgba(17, 95, 252, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
    margin: 30px 0;
}
.active-product-image img{
    width: 70%;
}
.active-product-image p{
    font-size: 14px;
    color: rgba(26, 26, 26, 0.7);
}
.small-product-image-container{
    overflow-x: auto;
    width: 100%;
    display: flex;
    gap: 15px;
}
.small-product-image, .add-icon-container{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    flex-shrink: 0;
    position: relative;
}
.add-icon{
    background-color: #115FFC;
    color: white;
    border-radius: 50%;
    padding: 2px;
}
.small-product-image img{
    width: 100%;
    border-radius: 5px;
}
.small-product-image-close{
    position: absolute;
    top: 0;
    left: 0;
}

.add-icon-container{
    display: flex;
    border: 1.5px dashed rgba(234, 233, 249, 0.9);
    align-items: center;
    justify-content: center;
}
button.add-category{
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #115FFC;
    color: white;
    border-radius: 20px;
    font-size: 14px;
}
.error-msg{
    font-size: 14px;
    margin-bottom: 10px;
    color: red;
}
.success-msg{
    font-size: 14px;
    margin-bottom: 10px;
    color: green;
}

@media screen and (max-width: 700px) {
    .product-form-body{
        flex-direction: column;
    }
    .product-form-body-left{
        width: 100%;
    }
    .product-form-body-right{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    button#desktop-add-btn{
        display: none;
    }
    button#mobile-add-btn{
        display: flex;
    }
    .product-form{
        padding: 15px 10px;
        border-radius: 5px;
    }
}