.content-page{
    padding: 80px 0 0px;
}
.search{
    display: none;
}
@media screen and (max-width: 950px) {
    .search{
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .content-page{
        padding: 65px 0 0;
    }
}