.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.head-text{
    font-weight: 600;
    color: #115FFC;
    margin-top: -5px;
    /* color: #5443EC; */
    /* color: #4368FA; */
}
.small-text{
    text-wrap: nowrap;
    margin-top: -6px;
}
@media screen and (max-width: 500px) {
    .logo-container{
        gap: 7px;
    }
}