.sidebar{
    width: 100%;
    height: 100%;
    padding: 30px 20px 50px;
    border-right: 2px solid #EDEDED;
    position: relative;
}
.sidebar-items{
    margin-top: 50px;
}
.sidebar-items a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-bottom: 15px;
    color: #6E6E6E;
    /* color: #49537B; */
    padding: 12px ;
    border-radius: 10px;
    font-weight: 500;
    transform: .5s ;
    font-size: 15px;
}
.sidebar-items a.active, .sidebar-items a:hover{
    background-color: #F1F5FF;
    /* background-color: #F4F5F6; */
    color: #115FFC;
    /* color: #5443EC; */
    /* color: #335AFA; */
}
.sidebar-items a.logout{
    position: absolute;
    bottom: 0px;
    left: 20px;
    border-radius: 1px;
    width: 85%;
}