.search-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box{
    width: 60%;
    display: flex;
}
.search-box input{
    width: 90%;
    outline: none;
    border: 1px solid #cac9d9;
    height: 50px;
    padding: 0 20px;
}
.search-icon{
    width: 10%;
    background-color: #115FFC;
    color: white;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}
.search-icon:hover{
    background-color: #217FFC;
}