.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    justify-content: space-between;
    position: fixed;
    /* border-bottom: 1px solid #EDEDED; */
    z-index: 10000;
    background-color: white;
    /* background-color: red; */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);

}

.menu-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 40px;
    font-size: 15px;
}

.menu-box p {
    cursor: pointer;
    transition: .2s;
    position: relative;
    padding: 10px 0;
}

.menu-box p:hover,
.menu-box p.active {
    color: #115FFC;
}

p.active {
    font-weight: 500;
    position: relative;
}

p.active::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #115FFC;
}

.signin-cart-box {
    display: flex;
    gap: 15px;
}

.signin-cart-box button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #115FFC;
    color: white;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 15px;
    transition: .2s ease;
}

.signin-cart-box button.signin {
    background-color: white;
    border: 1.5px solid rgba(17, 95, 252, 0.7);
    color: #115FFC;
}

.signin-cart-box button:hover {
    transform: scale(0.95);
}

.menu-icon {
    display: none;
}

.mobile-menu {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 80px;
    left: 0;
    border-top: 1px solid #cac9d9;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #cac9d9;
    
}

.mobile-menu p {
    padding: 15px 0;
}

.mobile-menu button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #115FFC;
    color: white;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 15px;
    transition: .2s ease;
    width: fit-content;
    margin: 15px auto;
}

.mobile-menu button.signin {
    background-color: white;
    border: 1.5px solid rgba(17, 95, 252, 0.7);
    color: #115FFC;

}

@media screen and (max-width: 950px) {

    .menu-box,
    .signin-cart-box {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}
@media screen and (max-width: 500px) {

    .navbar {
        padding: 0 25px;
    
    }
}