.features-component{
    /* background-color: red; */
    height: 90px;
    position: relative;
    
    margin: 0 0 50px;
}
.home-features-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    gap: 50px;
    /* top: -45px; */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: calc(100% - 150px);
    height: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.feature{
    display: flex;
    gap: 15px;
    align-items: center;
}
.feature h3{
    font-size: 14px;
    font-weight: 600;
    color: #354666;
}
.feature p{
    font-size: 10px;
    color: #354666;
}
.feature-icon{
    color: #354666;
}