.footer-section{
    width: 100%;
    background-color: #115ffc;
    padding: 50px 30px 30px;
}
.upper-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.left img{
    width: 130px;
    margin-left: -10px;
    background-color: white;
    border-radius: 50%;
}
.left h4{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.left p{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.right{
    display: flex;
    gap: 80px;
}
.links p{
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}
.links p:first-child{
    font-size: 17px;
    color: black;
    font-weight: 600;
    cursor: default;
}
.lower-section{
    margin-top: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
@media screen and (max-width: 850px) {
    .upper-section{
        flex-direction: column;
    }
    .left{
        border-bottom: 1px solid #eee;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .right{
        gap: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    
    .right .links p{
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    .right{
        gap: 50px 0;
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 460px) {
    .right{
        grid-template-columns: auto;
    }
}