.featured-product-container{
    margin: 50px 0 85px;
    padding: 0 50px;
    /* background-color: red; */
    width: 100%;
}
.featured-head-text{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}
.featured-product-container h2{
    font-size: 30px;
    font-weight: 600;
    color: #253656;
}
.product-card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    /* background-color: red; */
}
.view-all-text{
    cursor: pointer;
    color: #354666;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}
button.view-all-btn{
    background-color: #115ffc;
    border-radius: 3px;
    padding: 6px 15px;
    width: fit-content;
    display: block;
    margin: auto;
    color: white;
    display: none;
    margin-top: 15px;
}
@media screen and (max-width: 900px){
    .product-card-container{
        gap: 15px;
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 700px){
    .view-all-text{
        display: none;
    }
    button.view-all-btn{
        display: block;
    }
    .featured-product-container h2{
        font-size: 24px;
    }
    .product-card-container{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 500px){
    .featured-product-container{
        padding: 0 10px;
    }
    .product-card-container{
        gap: 10px;
    }
    .featured-product-container h2{
        font-size: 20px;
    }
    .featured-head-text{
        margin-bottom: 15px;
    }
    .featured-product-container{
        margin: 30px 0 85px;
    }
    button.view-all-btn{
        
        font-size: 14px;
    }
}
